Django==4.2.3
django-filter
django-mssql-backend
djangorestframework
djangorestframework-csv
djangorestframework-simplejwt
drf-extra-fields
mssql-django
psycopg2
PyJWT
pymssql
pyodbc
python-dotenv=
sql-server.pyodbc
djoser
drf-nested-routers
drf-yasg
requests
gunicorn
Pillow
